TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
.top {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A {
	COLOR: #006400;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
.topcur {
	COLOR: #8FBC8F; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.copyright {
	FONT-SIZE: 10px; LINE-HEIGHT: 9pt; TEXT-ALIGN: center
}
A.copyright {
	COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.copyright:hover {
	COLOR: #6699ff; TEXT-DECORATION: underline
}
A.sidebtn:hover {
	BACKGROUND-COLOR: Green;
	BORDER-BOTTOM: #8FBC8F thin outset;
	BORDER-LEFT: thin outset #8FBC8F;
	BORDER-RIGHT: thin outset Green;
	BORDER-TOP: thin outset #8FBC8F;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	HEIGHT: 20px;
	LETTER-SPACING: -1px;
	PADDING-RIGHT: 5px;
	PADDING-TOP: 1px;
	POSITION: relative;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none;
	WIDTH: 149px
}
A.sidebtnc:hover {
	COLOR: #0033cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.sidebtn {
	
}
A.sidebtn {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #ffffff thin solid; BORDER-LEFT: #ffffff thin solid; BORDER-RIGHT: #ffffff thin solid; BORDER-TOP: #ffffff thin solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; HEIGHT: 20px; LETTER-SPACING: -1px; LINE-HEIGHT: 10pt; PADDING-RIGHT: 5px; PADDING-TOP: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none; WIDTH: 149px
}
A.sidebtnx {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: white thin solid; BORDER-LEFT: white thin solid; BORDER-RIGHT: white thin solid; BORDER-TOP: #ffffff thin solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; HEIGHT: 20px; LETTER-SPACING: -1px; LINE-HEIGHT: 10pt; PADDING-RIGHT: 5px; PADDING-TOP: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none; WIDTH: 149px
}
A.sidebtn:active {
	BACKGROUND-COLOR: Green;
	BORDER-BOTTOM: thin inset #8FBC8F;
	BORDER-LEFT: thin inset #8FBC8F;
	BORDER-RIGHT: thin inset #8FBC8F;
	BORDER-TOP: thin inset Green;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	HEIGHT: 20px;
	LETTER-SPACING: -1px;
	PADDING-RIGHT: 5px;
	PADDING-TOP: 1px;
	POSITION: relative;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none;
	WIDTH: 149px
}
.sidebtnc {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM: thin inset #8FBC8F;
	BORDER-LEFT: thin inset Green;
	BORDER-RIGHT: thin inset #8FBC8F;
	BORDER-TOP: thin inset Green;
	COLOR: Black;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	HEIGHT: 20px;
	LETTER-SPACING: -1px;
	PADDING-RIGHT: 5px;
	PADDING-TOP: 1px;
	POSITION: relative;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none;
	WIDTH: 149px
}
H3 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.rtopich {
	COLOR: #ffffff; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.rtopic {
	FONT-SIZE: 8pt
}
A.rtopic:hover {
	COLOR: #6699ff; TEXT-DECORATION: underline
}
A.rtopic {
	COLOR: #000000; FONT-WEIGHT: normal
}
A.rtopich:hover {
	COLOR: #99ccff; TEXT-DECORATION: none
}
A.top {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.top:hover {
	TEXT-DECORATION: none
}
A.topcur:hover {
	TEXT-DECORATION: none
}
.sidesec {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: white thin solid; BORDER-LEFT: white thin solid; BORDER-RIGHT: white thin solid; BORDER-TOP: #ffffff thin solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; HEIGHT: 20px; LETTER-SPACING: -1px; LINE-HEIGHT: 10pt; PADDING-RIGHT: 5px; PADDING-TOP: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
INPUT {
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
.minisearch {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 7pt;
}
H1 {
	COLOR: #8FBC8F;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 18pt;
	FONT-WEIGHT: bold
}
H2 {
	COLOR: #8FBC8F; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13pt; FONT-WEIGHT: bold
}
.date {
	BORDER-BOTTOM: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-RIGHT: black 0px solid; BORDER-TOP: #8FBC8F 1px solid; FONT-SIZE: 7pt; LINE-HEIGHT: 9pt
}
P {
	LINE-HEIGHT: 11pt
}
.contents {
	COLOR: #8FBC8F; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.contentstop {
	COLOR: #ffffff; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.imgwords {
	LINE-HEIGHT: normal
}
.nh1 {
	COLOR: #8FBC8F; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 18pt; FONT-WEIGHT: bold; LETTER-SPACING: -1px; LINE-HEIGHT: 18pt
}
A.nh1 {
	COLOR: #ff0029; TEXT-DECORATION: none
}
.rtopicc {
	FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.rtopicc {
	COLOR: #000000; FONT-WEIGHT: bold
}
A.rtopicc:hover {
	COLOR: #8FBC8F; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
SELECT {
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
.bookindex {
	LINE-HEIGHT: 10pt
}
.pre {
	FONT-SIZE: 10pt
}
