TABLE
{
	border : thick solid 1;
}
.table2
{
	border : thick solid 1;
}
TH
{
	background-color: #4682B4;
	COLOR: #ffffff;
	FONT-FAMILY: "Arial";
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	padding : 2 2 2 5;
	width : auto;
}
.thon
{
	background-color: #483D8B;
	COLOR: #ffffff;
	FONT-FAMILY: "Arial";
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	padding : 2 2 2 5;
}
.th2
{
	background-color: Navy;
	COLOR: #ffffff;
	FONT-FAMILY: "Arial";
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	padding : 2 2 2 5;
}
TD
{
	COLOR: black;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 08pt;
	BACKGROUND-COLOR: #EDEDED;
	padding : 2;
	padding-left : 5;
}
.td3
{
	COLOR: black;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 08pt;
	BACKGROUND-COLOR: #FFDEAD;
	padding : 2;
	padding-left : 5;
}

.tddef
{
	COLOR: Black;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 08pt;
	BACKGROUND-COLOR: #CDCDCD;
	padding : 2;
	padding-left : 5;
}
.td2
{
	COLOR: Navy;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 08pt;
	BACKGROUND-COLOR: #E7E7E7;
	padding : 2;
	padding-left : 5;
	font-weight : bold;
	text-align: center;
}
H1
{
	background: #D0D0D0;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
	text-align : left;
}
H2
{
	font-family : "MS Sans Serif", Geneva, sans-serif;
	font-size : 10pt;
	text-align : left;
}
H3
{
	font-family : "MS Sans Serif", Geneva, sans-serif;
	font-size : 08pt;
	text-align : left;
}
H4
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	text-align : right;
	border-bottom : 1 solid;
	font-style : normal;
}
H5
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	text-align : right;
	border-top : 1 solid;
	font-style : normal;
}
.logo
{
	text-align : right;
	background-color: #FFF5EE;
}
A
{
	COLOR: Navy;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
TEXTAREA
{
	background : White;
}